@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* ================================= GLOBAL ================================= */
.main-bg-color {
    background-color: rgb(244, 233, 220);
}

.padding-custom {
    padding-inline: 10vw;
}

.font-family-custom {
    font-family: 'Lilita One', sans-serif;
}

.logo {
    transition: all 0.25s;
}

.logo:hover {
    transform: scale(1.1);
}

/* ================================= HEADER ================================= */
.navbar-link{
    font-size: 14px;
    border-radius: 32px;
    color: rgb(102, 0, 0);
}

.navbar-link:hover {
    color: rgb(198, 0, 0);
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar-link:focus{
    color: white;
    background-color: rgb(200, 47, 0);;
}

/* ================================= MAIN ================================= */
.coupon-custom {
    width: 352px;
    border-radius: 16px;
}

.news-custom {
    width: 352px;
    border-radius: 16px;
}

.news-custom:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* ================================= FOOTER ================================= */
.footer {
    background-color: #502314;
}

.a-custom:hover {
    color: rgb(198, 0, 0);
}

.rrss-logo {
    width: 24px; 
}

/* ================================= ITEM-LIST & ITEM-DETAIL ================================= */
.product-card{
    transition: all 0.25s;
}

.product-card:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.product-card img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.product-detail {
    width: 50%;
    aspect-ratio: 4/2;
    object-fit: contain;
}

.padding-detail {
    padding-inline: 20vw;
}