/* ================================= FONTS ================================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rowdies:wght@300;400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.font-gigames {
    font-family: 'Rowdies', sans-serif;
}
.font-platform {
    font-family: 'Ubuntu', sans-serif;
}
.font-text {
    font-family: 'Montserrat', sans-serif;
}
/* ================================= GLOBAL ================================= */
html { /* Color del Background del HTML (overflow en el eje Y) */
    background-color: rgba(33,37,41);
}
:root { /* Variable de estilos utilizados con frecuencia */
    --bg-gradient: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(27,25,40,1) 50%, rgba(33,37,41,1) 100%);;
}
.bg-gradient { /* Gradiente de fondo */
    background: var(--bg-gradient) !important;
}
.padding-custom { /* Padding utilizado en AboutUs, Footer & ItemDetail */
    padding-inline: 10vw;
}
.text-justify {
    text-align: justify;
}
/* ================================= LOGO ================================= */
.logo { /* Logo de GiGames */
    transition: all 0.25s;
}
.logo:hover {
    transform: scale(1.1);
}
/* ================================= NAVBAR ================================= */
.navbar-link { /* Enlaces del Navbar: Juegos / Playstation / Xbox / PC / Nintendo */
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 16px;
    color: white;
}
.navbar-link:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
}
.navbar-link:focus {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);;
}
/* ================================= CAROUSEL ================================= */
.carousel-indicators { /* Indicadores de Slide del Carousel */
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators button {
    width: 1.5vw !important;
    height: 0.5vh !important;
}
/* ================================= GAMES (CARD) ================================= */
.game-card {
    transition: all 0.25s;
}
.game-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 6px white;
    cursor: pointer;
}
.title, .price {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-block: 0px;
    margin-inline: 5px;
}
.game-title, .game-price {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #00000080;
}
.game-title {
    min-height: 65px;
}
.platform-size {
    font-size: 16px;
}
/* ================================= CART & CHECKOUT ================================= */
.trash {
    transition: all 0.25s;
}
.trash:hover {
    transform: scale(1.2);
}
.col-trash {
    width: 11rem;
}
.width-table {
    width: 75vw;
}
.width-img-cart {
    width: 100px;
}
.font-cart-head {
    font-size: 20px;
    font-weight: bold;
}

.width-img-checkout {
    width: 80px;
}
/* ================================= MEDIA QUERIES ================================= */
@media (min-width: 768px) and (max-width: 1439.98px){
    .title {
        font-size: 0.7em;
    }
    .img-size {
        width: 30vw;
    }
    .title-size {
        font-size: 1.8em;
    }
    .platform-size {
        font-size: 0.8em;
    }
    .price-size {
        font-size: 0.8em;
    }
    .description-size {
        font-size: 0.7em;
    }
    .width-img-cart {
        width: 80px;
    }
    .font-cart-head {
        font-size: 16px;
    }
}
@media (max-width: 767.98px){
    .width-card {
        width: 80%;
    }
    .img-size {
        width: 80vw;
        margin-bottom: 20px;
    }
    .width-table {
        width: 100vw;
    }
    .width-img-cart {
        width: 60px;
    }
    .font-cart-head {
        font-size: 12px;
    }
    .font-cart-body {
        font-size: 10px;
    }
    .width-img-checkout {
        width: 50px;
    }
}